

<form action="answer" data-turbo="false" method="get" class = "m-3">
  <input type="text" name="question" placeholder = "talk to the coach">
  <button type="submit" class="btn btn-primary" value="Ask!">Submit</button>
</form>
